<%= t('contacts.email.intro') %>:<br/>
<p>
	<%= t('contacts.index.name') %>: <%= @contact.name %>
</p>
<p>
	<%= t('contacts.index.site_url') %>: <%= @contact.site_url %>
</p>
<p>
	Email: <%= @contact.email %>
</p>


<%= t('contacts.email.body') %>:<br/>
<p>
	<%= @contact.body %>
</p>

