<%= t('contacts.index.name') %>: <%= @contact.name %><br/>
<%= t('contacts.index.site_url') %>: <%= @contact.site_url %><br/>
Email: <%= @contact.email %>

<p>
	<%= t('contacts.email.body') %>:<br/>
	<%= @contact.body %>
</p>
