<% form_for @post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, t('posts.title') %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :tags, t('posts.tags') %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p class="post_message">
    <%= f.label :intro, t('posts.intro') %> 
		<span class="how_to_put_code">
	    <a onclick="$('code_explanation1').appear(); this.fade();">
				<%= t('.how_to_put_code') %>
			</a>
		</span>
    <p class="how_to_put_code_explanation" id="code_explanation1" style="display:none;">
			<%= t('.how_to_put_code_explanation') %>
		</p>
    <%= f.text_area :intro %>
  </p>

  <p class="post_message">
    <%= f.label :body, t('posts.body') %> 
		<span class="how_to_put_code">
	    <a onclick="$('code_explanation2').appear(); this.fade();">
				<%= t('.how_to_put_code') %>
			</a>
		</span>
    <p class="how_to_put_code_explanation" id="code_explanation2" style="display:none;">
			<%= t('.how_to_put_code_explanation') %>
		</p>
    <%= f.text_area :body %>
  </p>
  <div style="clear:both;"></div>

  <p class="active">
	  <%= f.check_box :active %>
	  <%= f.label :active, t('.active') %>
	</p>

  <p>
    <%= f.submit text, :class => 'submit' %>
  </p>
<% end %>
