<div class="post_block">
	<%= content_tag(homepage? ? :h2 : :h1, post_title(post))%>
	<%= date_block(post.created_at.to_date) %><div class="clear"></div>
	
	<div class="post_body">
		<%= textilize action_name != 'show' ? post.intro : post.body %>
	</div>
  <% if action_name != 'show' %>
  	<%= link_to t('.view_more'), post_path(post) %> |
	  <%= link_to t('.comment'), post_path(post, :anchor => 'comments') %> 
	<% end %>
  <div class="tag_list"> Tags: <%= post_tags post %></div>
  <div class="destroy_link">  
  	<%= admin_links(post) %>
  </div>
</div>