<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="<%= KEYWORDS %>">
	<meta name="description" content="<%= DESCRIPTION %>">
  <title><%= SITE_NAME %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "textarea" %>
</head>

<body>
	<ul id="tabnav">
		<li><%= link_to t(".homepage"), home_path, tab_class("posts") %></li>
		<li><%= link_to t(".contact"), contacts_path, tab_class("contacts") %></li>
		<% content_tag :li do %>
			<%= link_to t(".new_post"), new_post_path, tab_class("new_post") %>
		<% end if admin? %>
	</ul>
	
	<div id="wrapper">
    <div id="header">
	  	<div id="logo"><h1><%= link_to SITE_NAME, home_path %></h1></div>
	  </div>

    <div id="page">
	    <%= flash_message %>
		  <div id="content">
			  <div id="post"><%= yield  %></div>
		  </div> 
	    <div id="sidebar">
		    <div id="search">
				  <h3><%= t('.search_post')%></h3>
				  <% form_tag search_posts_path, :method => :get do %>
				    <%= text_field_tag :title %>
				 	 <%= submit_tag t('.search') %>
				  <% end %>
			  </div>
				<div id="rss">
				  <h3><%= t('.rss')%></h3>
			  	<%= link_to "#{image_tag('ico-rss.png', :alt => 'RSS')} #{t('.subscribe')} ",
			      formatted_posts_path(:format => :rss) %>
			  </div>
        <div id="projects">
				  <h3><%= t('.some_projects')%></h3>
	         <ul>
		           <li><%= link_to 'Antes de cocinar.com' %></li>
		           <li><%= link_to 'Blog' %></li>
		           <li><%= link_to 'Github' %></li>
		       </ul>
	      </div>
        <div id="cloud">
				  <h3><%= t('.cloud')%></h3>
				  <% tag_cloud Post.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
				    <%= link_to tag.name, search_posts_path(:tag => tag.name), :class => css_class %>
  			  <% end %>
        </div>
		  </div>
		<div class="clear"></div>
	  </div>	<!-- end #page -->	
  </div>

  <div id="footer">
    <p>
      <%= t('.personal_project_of') %> <%= link_to('Juan de Frías') %>
	  </p>
  </div>
  
</body>
</html>
